@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

html, body {
  background-color: #F7F7F8;
  height: 100%;
  margin: 0;
  font-family: "DM Sans";
}

#root {
  min-height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title{
  font-family: "DM Sans";
}

.btns{
  display: flex;
  justify-content: space-between;
}

.patient-card{
  background-color: #F7F7F8;
  border: 1px rgba(0,0,0,0.2) solid;
}
.btn-primary{
  background-color: #011F4D;
  border: 2px #011F4D solid;
}
.btn:hover{
  background-color: #4c72ab;
  transition: all 0.3s ease;
  color: #F6FBFF
}

.patientList{
  background-color: #f1f1f4

}

.recharts-cartesian-axis-line{
  color: black;
}

.container1{
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.a-pt{
  font-family: "DM Sans";
  font-size: 28px;
}

.btn1{
  width: 100%;
  padding: 12px 0;
}

.pt-dl.btn{
  padding: 12px 20px;
  border-radius: 4px;
}

.signup-btn{
  color: #011F4D;
  border: 2px solid #011F4D;
}